<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Plant</title>
</head>
<body>
    <h1>Add a New Plant!</h1>

    <form action="/plants" method="post">
    <label for="name">Plant Name: </label>
    <input type="text" name="name" id="name" required>

    <label for="description">Description: </label>
    <textarea name="description" id="description" required></textarea>

    <label for="image">Image URL:</label>
    <input type="text" id="image" name="image">



    <button type="submit">Add Plant</button>

    <a href="/plants/">Browse back to all plants</a>
    </form>
</body>
</html>